<section id="Review">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="v-money">
                <div id="note-park"  style="margin-top: 30px;">
                <h4>All Viechel Prices</h4>
                <ol>
                    <li>Two Wheeler :-30 Rupees/H</li>
                    <li>Three Wheeler :-50 Rupees/H</li>
                    <li>Four Wheeler :-70 Rupees/H</li>
                    <li> Other Viechel :-100 Rupees/H</li>

                </ol>
                <p style="margin-left: 14px;">Note:- </p>
                   <ol> 
                   <li> <p> All Viecheles will be Charged <br> On Hourly Basis...</p></li>
                   <li><p> Please Lock Your Viechele </p></li>
                   <li><p> Take Resposibility For Your Helmet</p></li>

                   </ol>
                </div>
            </div>
            <div class="col-md-4" >
               <div id="Services-park" style="margin-top: 30px;">
                <h4>Services</h4>
                <ol>
                    <li id="Service-park-li">Room Is available For Guest</li>
                    <li id="Service-park-li">Open 24 Hours for You</li>
                    <li id="Service-park-li">Viechel Washing is also Available  </li>
                    <li id="Service-park-li">There Is Protected Parking Available  </li>
                </ol>
            </div>
            </div>
            <div class="col-md-4" >
                <div id="Review-park"  style="margin-top: 30px;">
                    
                <h4>Give Your Review</h4>
                <form action="/reviews" method="post">
                    <input type="text" name="name" id="" class="form-control mb-3" placeholder="Enter your Name" required>
                    <input type="text" name="email" id="" class="form-control mb-3" placeholder="Enter Your Email-Address"required >
                   <textarea name="rev" id="" cols="" rows="" class="form-control mb-3" placeholder="Enter Your Review" required></textarea>
                    <button class="btn btn-primary form-control">Send</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>