
<nav>
        
    <div class="logo">Our Parking</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
       
        <li><a href="/" > Home</a></li>
        <li><a href="/allentry"class="active">All Entry</a></li>
        <li><a href="/allreviews" class="">Reviews</a></li>
        <li><a href="/alloutViechele">Out Viechels</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="/login">
                <button id="logout" class="btn btn-light form-control">Log Out</button>
            </a></li>
    </ul>




</nav>